@font-face {
  font-family: "DINPro";
  src: url('/fonts/DINProRegular.otf') format("opentype");
}

@font-face {
  font-family: "DINPro-Bold";
  font-weight: bold;
  src: url('/fonts/DINProBold.otf') format("opentype");
}

:root {
  --primaryColor: #fff;
  --secondaryColor: #21292c;
  --hoverColor: #65686aa0;
}
  
body {
  margin: 0;
}

h1 {
  font-family: 'DINPro', sans-serif;
}